/* 320 x 568 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* #home-section{
    background-color: #00C805;
} */
#home {
  /* background-color: #00c8073f; */
  height: 520px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  top: 60px;
}
#home-center {
  display: flex;
  align-items: center;
  position: relative;
  overflow: visible;
  transform: translate(-15%, 0%);
}

#home-center-image {
  width: clamp(250px, 40vw, 400px);
}

.home-upper-text {
  position: absolute;
}
.home-u-text-1 {
  position: absolute;
  transform: translate(-2%, -900%);
  font-size: clamp(11px, 2vw, 20px);
  width: 100vw;
  font-family: "Bebas Neue", cursive;
}

.home-u-text-2 {
  z-index: 20000;
  position: absolute;
  color: #00d029;
  width: 200px;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 900;
  transform: translate(5%, -800%);
  font-size: clamp(11px, 2vw, 20px);
}
@media screen and (max-width: 480px) {
  .home-u-text-1 {
    transform: translate(5vw, -900%);
  }
  .home-u-text-2 {
    transform: translate(15%, -800%);
  }
}

.home-l-text {
  position: absolute;
  transform: translate(280%, +270%);
  font-family: "Bebas Neue", cursive;
  font-size: clamp(16px, 2.5vw, 25px);
}

.home-center-text {
  position: absolute;
  width: 100%;
  font-family: "Bebas Neue", cursive;
  font-size: clamp(50px, 8vw, 80px);
  transform: translate(32%, 30%);
  display: flex;
  z-index: 3;
  color: aliceblue;
}
.home-text-2 {
  margin-left: 3%;
  color: black;
}

/* height is set to same as heiht of home by js  */
#playArea {
  /* position: absolute; */
  background: #e1ebdcff;
  z-index: 0;
  /* overflow: hidden; */
}
.playAreaC {
  margin-top: 60px;
  /* border: 1px solid; */
}

.home-register {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  display: flex;
  column-gap: 2rem;
  font-weight: 650;
  /* justify-content: center; */
  /* width: 100%; */
}

@media (max-width: 566px) {
  .home-register {
    flex-direction: column;
    row-gap: 1rem;
  }
}

#discord-button {
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  /* background-color: rgb(255, 255, 255); */
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

#discord-button:hover {
  background-color: #00c805;
}

.prize-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #00c805;
  color: black;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}
.prize-container p {
  font-size: 20px;
  /* font-family: var(--font-style-4); */
  font-weight: 600;
}
/* ayush */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* Anurag */
@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Merriweather&family=Noto+Serif:wght@700&family=Playfair+Display:wght@700&display=swap);
:root {
  --white: #e1ebdcff;
  --black: #101010;
  --opacity-green: rgb(24, 186, 48);
  --primary-color: #00c805;
  /* --font-style-1: 'DM Serif Display', serif;
    --font-style-2: 'Merriweather', serif;;
    --font-style-3: 'Noto Serif', serif;
    --font-style-4: 'Playfair Display', serif; */
}
/* body{
    background-color:var(--white);
    background-repeat: no-repeat;
    background-position: center;
} */
html {
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

/* p::selection{
    color: red;
} */

/* nav  */

#nav {
  /* position: fixed; */
  z-index: 1000;
  overflow: hidden;
}
.nav-container {
  background-color: aliceblue;
  height: 60px;
  z-index: 99;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid;
}

.nav-slide {
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: aliceblue;
  width: 50vw;
  transition: 0.4s;
  /* display: none; */
  transform: translateX(50vw);
  z-index: 99999;
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 50px;
}
a {
  text-decoration: none;
  color: #101010;
}

.nav-slide.is-active {
  /* display: flex; */
  transform: translateX(0vw);
}

.nav-menu {
  position: absolute;
  left: 200px;
  display: none;
  justify-self: center;
  align-items: end;
  justify-content: flex-end;
}
.nav-menu div {
  /* border: 1px solid; */
  margin: 0 5px;
}

.nav-menu a {
  color: var(--black);
  cursor: pointer;
  font-size: 1.3vw;
  /* margin: 0.7rem 1rem 0.4rem; */
  /* font-size: 1.4rem; */
  text-decoration: none;
  font-family: "Bebas Neue", cursive;
  padding-bottom: 0.3rem;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in;
  padding: 0.3rem;
}

/* media and (width >= ) */

.nav-menu a:hover {
  border-color: var(--primary-color);
}

.nav-logo {
  /* background-color: #00C805; */
  border-right: 1px black solid;
  width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-ham {
  /* justify-self: flex-end; */
  /* display: block; */
  position: relative;
  margin-right: 15px;
}
.nav-ham span {
  display: block;
  width: 33px;
  height: 4px;
  background-color: black;
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.nav-ham.is-active:hover span {
  background-color: #00d029;
}

.nav-ham span:nth-child(2) {
  transition: 0.8s ease-in-out;
}

.nav-ham.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.nav-ham.is-active span:nth-child(2) {
  opacity: 0;
  /* background-color: #00C805; */
  transform: translate(15px);
  /* background-color: #101010; */
}
.nav-ham.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

@media (min-width: 768px) {
  .nav-ham {
    display: none;
  }
  .nav-menu {
    display: flex;
  }
}

#highlights {
  background-color: #e1ebdcff;
  border: 2px solid green;
}
.HL-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin: 3%; */
  padding: 5px;
  /* #e1ebdcff; */
  /* background-color: #e1ebdcff; */
}
.HL-box {
  margin: 10px 0;
  background-color: #04846204;
  /* border : solid;  */
  /* max-width: 900px; */
  flex-basis: 600px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 4px;
  justify-content: start;
  border-right: solid #00c805;
}

.HL-icon img {
  width: 70px;
  height: 70px;
}

.HL-box-3 img {
  border-radius: 7px;
}

.HL-icon {
  /* border: solid; */
  /* background-color: #00C805; */
  grid-row: 2 span;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.HL-head {
  font-size: 20px;
  font-weight: 800;
  color: #00c805;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
}
.HL-para {
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: #292b29;
}

.HL-box-L {
  text-align: right;
  justify-content: end;
  border-left: solid #00c805;
  border-right: none;
}

.HL-box-3 {
  width: 100%;
  display: flex;
  justify-content: center;
}
.HL-box-3 img {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.highlights-heading {
  display: flex;
  justify-content: center;
  font-weight: 500;
  /* font-size: 1rem; */
  font-size: 210%;

  /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
  font-family: "Bebas Neue", cursive;
  /* font-family:; */
  /* background-color: aliceblue; */
  /* margin-top: 3%; */
  padding-top: 3%;
}

.highlights-container {
  background-color: aliceblue;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  /* align-content:space-evenly; */
  justify-content: center;
}
.highlights-box {
  /* background-color: #00C805; */
  /* height: ; */
  width: 40%;
  min-height: 150px;
  /* border: 1px solid; */

  /* margin-right: ; */
  /* padding: 0.2rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.highlights-upper {
  justify-content: flex-end;
  /* border: 1px solid; */
}
.highlights-para {
  color: #636963;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  margin-bottom: 20px;
}

.h-r {
  /* background-color: #00C805; */
  align-items: flex-end;
  /* justify-content: flex-end; */
  text-align: right;
  margin-right: 10%;
}

.h-l {
  /* background-color: #00C805; */
  align-items: flex-start;
  margin-left: 10%;
}

.highlights-head {
  font-size: 150%;
  font-weight: 500;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  /* font */
  margin: 10px;
}
.highlights-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.highlights-img img {
  width: 100%;
  max-width: 800px;
  max-height: auto;
}

@media screen and (width < 1210px) {
  .HL-box {
    padding: 5px 0;
    background-color: #0484621c;
  }
  .HL-box-3 {
    padding: 3% 0;
  }
  .HL-head,
  .HL-para {
    font-size: smaller;
  }
}

/* about page */

#about {
  background-color: #292b29;
  /* background-color: rgb(0, 44, 21);; */
  /* background-color: whitesmoke; */
  /* border-top: #101010 1px solid; */
  /* border-bottom: #d1b2b2 1px solid; */
  /* height: 80vh; */
}

.container {
  width: 100%;
  max-width: 65em;
  margin: 0 auto;
  padding: 2rem 0;
}

h2 {
  font-size: 5rem;
}
.about-content {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  margin-top: 1rem;
}
.content {
  display: flex;
  gap: 1rem;
  max-width: 32em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-family: 'Roboto'; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* font-family: var(--font-style-4); */
  font-weight: 500;
  color: aliceblue;
  font-size: 1rem;
  word-spacing: 0.5rem;
  padding: 1rem 1rem 1rem 2rem;
  margin-bottom: 30px;
}

.content p {
  font-size: 1.3rem;
}

.image {
  /* max-width: 20em; */
  max-width: 300px;
  padding: 1rem;
}

.image img {
  width: 100%;
}

.heading {
  position: relative;
  padding-left: 3rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
}
.back-heading {
  font-size: 4rem;
  color: rgb(139 131 131 / 10%);
  /* font-family: 'Ubuntu'; */
  font-family: "Bebas Neue", cursive;

  user-select: none;
}
.front-heading {
  position: absolute;
  font-size: 1.8rem;
  bottom: 0.5rem;
  left: 2rem;
  color: var(--primary-color);
  font-family: "Bebas Neue", cursive;
}
@media screen and (width >= 48em) {
  .back-heading {
    font-size: 7rem;
  }
  .front-heading {
    font-size: 3rem;
    bottom: 1rem;
    left: 1.5rem;
  }
  .about-content {
    flex-direction: row;
  }
  .content {
    font-size: 1.2rem;
  }
}

/* TRACKS */

.tracks-heading {
  /* background-color: #00C805; */
  /* border: 1px solid; */
  position: relative;
}
#tracks .front-heading2 {
  color: #101010;
}
#tracks .back-heading2 {
  color: rgba(131, 139, 131, 0.299);
}

.back-heading2 {
  /* position: absolute; */
  left: 0;
  font-size: 7em;
  color: rgb(139 131 131 / 10%);
  /* font-family: 'Ubuntu'; */
  font-family: "Bebas Neue", cursive;
  /* margin-left: 12px; */
  user-select: none;
}

.front-heading2 {
  position: absolute;
  font-size: 2.6rem;
  top: 3rem;
  /* bottom: 0.2rem; */
  /* left: 30rem; */
  color: var(--primary-color);
  font-family: "Bebas Neue", cursive;
}

#tracks {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}
#tracks-container {
  margin: 60px 0;
  max-width: 1000px;
  /* height: 150vh; */
  /* border-top: #101010 1px solid; */
  border-bottom: #101010 1px solid;
  /* padding: 5%; */
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  flex-wrap: wrap;
}

.tracks-heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 2rem; */
  width: 100%;
  font-weight: 300;
  /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
  font-family: "Bebas Neue", cursive;
}
.tracks-heading p {
  color: #fff;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

/* .tracks-heading h3{
    font-size: 6rem;
    font-weight: 100;
    color: #292b29;
    color: rgb(136, 142, 133);
} */

.flip-card {
  margin: 10px;
  background-color: transparent;
  width: 270px;
  height: 430px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  /* padding: 10%; */
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* .flip-card-content{
    border: black solid 1px;
  } */

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

.tracks-card-flip-sign {
  position: absolute;
  left: 86%;
  top: 5%;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  box-shadow: -1px -1px 1px 0 rgb(0, 0, 0), -1px -1px 5px 0 rgb(0, 0, 0);
  /* display: flex; */
  /* background-color: #00d020; */
  /* justify-content: center;  */
  /* flex-direction: column; */
}

.flip-card-front:hover,
.flip-card-back:hover {
  box-shadow: -2px -2px 4px 0 rgb(0, 0, 0), -4px -4px 10px 0 rgb(0, 0, 0);
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #fff;
  color: black;
  /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flip-card-front p {
  /* position: absolute; */
  /* top:16%; */
  font-size: 1.5rem;
  /* font-weight: 600; */
}
/* .flip-card-front img{
    position: absolute;
    left: 8%;
    top: 35%;
  } */

/* Style the back side */
.flip-card-back {
  /* background-color: dodgerblue; */
  background-color: #fff;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;

  color: rgba(0, 0, 0, 0.534);
  font-size: 0.6rem;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Anurag & Hiresh */

/**** Sponsors-Section ****/
#sponsors-section {
  /* background-color: #1f1f1e; */
  /* background-color: var(--white); */
  background-color: #292b29;

  /* background-color: #00C805; */
  /* height: ; */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;     */
  font-family: "Bebas Neue", cursive;
}
.sponsors-container {
  text-align: center;
  /* background-color: var(--black); */
  /* background-color: var(--white); */
  background-color: #292b29;

  /* border: 2px solid black ; */
}
.sponsor-title {
  font-size: 2.25rem;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 2px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  /* height: 36px;
    line-height: 36px; */
  padding: 0 10px;
  margin-top: 25px;
}

/* #Platinum-header,#Gold-header,#Silver-header, #Bronze-header, #Community-header{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
} */
#Platinum-header {
  /* background-image: linear-gradient(to right,#d3adad, #D96C6C);   */
  color: #d96c6c;
}
#Gold-header {
  /* background-image: linear-gradient(to right,#e05e3e,#dcf452);     */
  color: #ffd700;
}
#Silver-header {
  /* background-image: linear-gradient(to right,#e8e5e5, #4c4c4c);     */
  color: #c0c0c0;
}

#Bronze-header {
  /* background-image: linear-gradient(to right, #d1a477, #cd7217);     */
  color: #cd7f32;
}

#Community-header {
  /* background-image: linear-gradient(to right, rgb(208, 241, 255), rgb(34, 187, 252));     */
  color: #22bbfc;
}

.sponsors {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 5rem;
  row-gap: 2rem;
  padding: 2rem 0rem;
}
.sponsors-item {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 2rem;
  border: 1px solid #1b1b1b;
  border-radius: 10px;
  height: 8rem;
  width: 16rem;
  transition: all 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsors-item:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.sponsors-item img {
  width: 100%;
}

/* faq */

#faqs-section {
  /* background-color: #fff; */
  background-color: #292b29;

  box-sizing: border-box;
}
.extra {
  color: #00c805;
  font-size: 3.4rem;
}
.faqs-heading {
  /* margin-bottom: 2rem; */
  align-self: flex-start;
  margin-bottom: 4rem;
  /* margin-top: 2rem; */
}
.accordion {
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* color:aliceblue; */
}
.accordion-item {
  /* background-color: rgba(255,255,255, 0.6); */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  width: 80vw;

  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border: #00c805 1px solid;
  border-radius: 15px;
  /* box-shadow: inset 0 0.01rem 0.2rem var(--primary-color); */
}
.accordion-link {
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* font-family: 'Ubuntu'; */
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  /* font-family: var(--font-style-4); */
  /* border-bottom: 1px solid black; */
  cursor: pointer;
  overflow: hidden;
  padding: 1rem 0;
  /* color: var(--black); */
  color: #fff;
}
.accordion-link i {
  padding: 0.5rem;
  transition: all 0.3s ease-in;
}
.answer {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  position: relative;
  /* background-color: rgba(38, 38, 38, 0.903); */
  background-color: rgba(50, 50, 50, 0.903);
  transition: all 0.3s ease-in;
}
.answer::before {
  content: "";
  width: 0.2rem;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: var(--primary-color);
  transform: translateY(-50%);
}
.answer p {
  font-weight: 300;
  width: 100%;
  font-size: 1.2rem;
  /* font-family: Roboto; */
  padding: 1rem;
  color: #fff;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  /* font-family: var(--font-style-4); */

  /* color: var(--black); */
}
.answer ul {
  margin-left: 30px;
  /* list-style-type: circle; */
}
.answer ul li {
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: #fff;
}
.answer a {
  color: #1ddb13;
}

.open-accordian {
  max-height: 15rem;
}
.rotate-plus {
  transform: rotate(45deg);
}
.faq-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
/* @media screen and (width >= 48em){
    #question3, #question4{
        width: 100%;
        max-width: 62.4em;
    }
} */

.TL-head {
  display: flex;
  justify-content: center;
  font-size: 40px;
  background-color: #292b29;
  font-family: "Bebas Neue", cursive;
  color: #00d029;
  padding-top: 1%;
}
@media screen and (max-width: 768px) {
  .TL-head {
    color: #636963;
    /* font-family: Helvetica, sans-serif; */
    /* font-size: 40px; */
  }
}

#TL-main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* align-content: space-evenly; */
  background-color: #292b29;
  padding: 10px;
}

.TL-switch {
  font-size: 30px;

  margin-right: 6%;
  color: #636963;
}

.TL-switch div {
  cursor: pointer;
  font-family: "Bebas Neue", cursive;
  transition: 0.3s;
}

@media screen and (max-width: 1006px) {
  .TL-switch {
    /* background-color: #00C805; */
    display: flex;
    width: 100%;
    justify-content: center;
    margin-right: 0;
    font-size: 40px;
    border-bottom: #00c805 2px solid;
    align-items: center;
  }
  .TL-switch div {
    margin: 0 2%;
  }
}

.timeline-W {
  display: none;

  font-family: Helvetica, sans-serif;

  max-width: 800px;
  /* position: absolute; */

  width: 100%;
  height: 400px;

  overflow-y: scroll;
  overflow-x: hidden;

  border: #00c805 1px solid;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  /* background-color: #161716; */
  position: relative;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* TL-container around TL-content */
.timeline-W .TL-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-W .TL-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #00d029;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the TL-container to the TL-left */
.timeline-W .TL-left {
  left: 0;
}

/* Place the TL-container to the TL-right */
.timeline-W .TL-right {
  left: 50%;
}

/* Add arrows to the TL-left TL-container (pointing TL-right) */
.timeline-W .TL-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the TL-right TL-container (pointing TL-left) */
.timeline-W .TL-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for TL-containers on the TL-right side */
.timeline-W .TL-right::after {
  left: -16px;
}

/* The actual TL-content */
.timeline-W .TL-content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  /* width: 300px; */
}
.timeline-W .TL-content p {
  /* background-color: #00d029; */
  /* font-family: var(--font-style-2); */
  font-weight: 600;
  margin: 0;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the TL-left */
  .timeline-W .timeline::after {
    left: 31px;
  }

  /* Full-width TL-containers */
  .timeline-W .TL-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing TL-leftwards */
  .timeline-W .TL-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .timeline-W .TL-left::after,
  .timeline-W .TL-right::after {
    left: 15px;
  }

  /* Make all TL-right TL-containers behave like the TL-left ones */
  .timeline-W .TL-right {
    left: 0%;
  }
}

.timeline-active {
  display: block;
}

.TL-day-active {
  font-size: 50px;
  color: #00d029;
  transition: 0.3s;
}

.footer .container {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  max-width: 1170px;
  margin: auto;
}

.footer .row {
  display: flex;
  flex-wrap: wrap;
}

.footer ul {
  list-style-type: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0px;
}

.footer-col {
  width: 33%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  font-weight: 500;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  position: relative;
  /* font-family: var(--font-style-1); */
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #00d029;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:first-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  color: #bbb;
  display: block;
  transition: all 0.3s ease;
  /* font-family: var(--font-style-4); */
  margin-bottom: 30px;
}

.footer-col ul li a:hover {
  color: #fff;
  padding-left: 10px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: (255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  transition: all 0.5s ease;
  font-size: 30px;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #fff;
}

/* responsive */
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }
}

.venue-container {
  display: flex;
  width: 280px;
  margin-left: 20px;
}

.venue-container a {
  text-decoration: none;
}

.about-venue {
  position: relative;
  margin: 0 2%;
  display: flex;
  align-items: center;
  width: 150px;
  height: 50px;
  box-shadow: 0 0 4px 2px rgba(0, 200, 5, 0.3);
  border-radius: 0.4rem;
  transition: all 0.5s ease-in-out;
  /* padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px; */
  margin-right: 10px;
}
.about-venue:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.about-venue i {
  font-size: 25px;
  position: absolute;
  right: 7px;
  color: #00c805;
}
.about-venue p {
  color: white;
  font-weight: 100;
  font-size: smaller;
  font-family: "Capsule Sans Display", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.about-venue span {
  font-family: Helvetica, sans-serif;
  color: #00c805;
  font-weight: bold;
}
.about-venue-content {
  text-align: right;
  margin-left: 7px;
}

.about-one {
  margin-right: 10px;
}

/* Button for Register and Discord */
.button {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #00c805;
  color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  padding: 12px 16px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.button:hover {
  box-shadow: 4px 4px 0 #000;
  transform: translate(-4px, -4px);
}
.button:focus-visible {
  outline-offset: 1px;
}

/* Button for Where and When */
.button-about {
  outline: 0;
  grid-gap: 8px;
  align-items: center;
  background-color: #292b29;
  color: #00c805;
  border: 1px solid #00c805;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  gap: 8px;
  justify-content: center;
  line-height: 1.5;
  overflow: hidden;
  /* padding: 12px 16px; */
  padding-right: 60px;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 0.14s ease-out;
  white-space: nowrap;
}
.button-about:hover {
  box-shadow: 4px 4px 0 #00c805;
  transform: translate(-4px, -4px);
}
.button-about:focus-visible {
  outline-offset: 1px;
}

/* ------------ modal css ------------------ */

.flip-card-back .card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.flip-card-back .card-description {
  font-size: 0.85rem;
  text-align: justify;
  padding: 10px 1rem;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 30px;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.modal-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 73, 94, 0.8);
  z-index: 50;
  visibility: hidden;

  opacity: 0;

  transition: 0.7s;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;

  background: #bdc3c7;
  z-index: 100;
  visibility: hidden;

  opacity: 0;

  transition: 0.5s ease-out;
}

.modal-body {
  padding: 2rem;
}

.modal-body h2 {
  font-size: 1.8rem;
}

.modal-active {
  visibility: visible;
  opacity: 1;
}

.modal-active + .modal {
  visibility: visible;
  opacity: 1;
  /* transform: translateY(0); */
}
